<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>www.itfvck.com</param-value>
	</context-param>
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:logback.xml</param-value>
	</context-param>
	<listener>
		<listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>
	<!-- token定时刷新监听器 -->
	<listener>
		<listener-class>com.itfvck.wechatframework.core.token.TokenListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>WechatframeworkServlet</servlet-name>
		<!-- 用户可自定义消息请求入口 -->
		<servlet-class>com.itfvck.wechatframework.web.servlet.WechatDefaultDispatcherServlet</servlet-class>
		<!-- 用户可自定义消息处理中心，参数名必须为wechatService，此处若不配置，则会采用默认的示例消息处理中心 -->
		<!-- <init-param> -->
		<!-- <param-name>wechatService</param-name> -->
		<!-- <param-value>com.itfvck.wechatframework.service.MyService</param-value> -->
		<!-- </init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WechatframeworkServlet</servlet-name>
		<url-pattern>/wechat/dispacther</url-pattern>
	</servlet-mapping>
	<!-- spring配置文件位置 -->
	<!-- Spring配置文件开始 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml,classpath*:TimerConfig.xml</param-value>
	</context-param>

	<!-- spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Spring配置文件结束 -->

	<servlet>
		<servlet-name>spring-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
